@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.dashboard-header {
    background-color: var(--primary-color);
    padding: 10px 10px 10px 10px ;
    margin-top: 0;
    margin-bottom: 30px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.dashboard-header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 70px;
}
.dashboard-header a {
    color: #0a0a0a;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s;
}
.dashboard-header a::hover {
    color: #cce0ff;
}
