@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color:rgb(37, 111, 209);
    --primary-second-color: #000000;
    --background-color:hsl(60, 100.00%, 98.40%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    position: relative;
    background-image:url("img/header-bg.png") ;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
}

nav{
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 9;
}
.nav_header{
    padding: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav_header a{
    text-decoration: none;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 700;
    
}
.download-btn{
    padding: 7px 14px;
    background-color: #4364d3;
    font-size: 15px;
    color: #ffffff;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: var(--background-color) o.3s ease;
}
.download-btn:hover{
    background-color: #000000;
}
.container{
    margin-left: 20%;
    margin-top: 20px;
    position: relative;
    width: 850px;
    height: 580px;
    background: var(--background-color);
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.form-box {
    padding-top: 15px;
    padding-left: 50px;
    position: relative;
    background: #fff;
    display: flex;
    color: #333;
    text-align: center;
}
.form-box h1{
    margin-bottom: 12px;
    text-align: center;
}
.form-box .input-box{
    width: 100%;
}