@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #688ff3;
    --primary-second-color: #f5f9fa;
    --background-color: #FFFFF7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, var(--primary-second-color), var(--background-color));
}
.container{
    margin-top: 50px;
    position: relative;
    width: 850px;
    height: 900px;
    background: var(--background-color);
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
h2{
    text-align: center;
    margin-top: 30px;
}
.btn{
    display: flex;
    
}